.App {
  text-align: center;
  background-color: #F3EFC9;
  height: 100vh;
  
}


.homePage__todo-section{
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .5rem;
}

.todo__item{
  width: 100%;
  margin:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .item, .icon{
    padding: 1rem;
  }
 
.icon{
  display: flex;
  column-gap: .5rem;
}


.todoForm{
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2rem;
  width: 50%;
}

label{
  font-size: larger;
}
input{
  height: 2rem;
}
.submitButton{
  background-color: #5E90F2;
  border-radius: .5rem;
  color: #fff;
  width: 25%;
  padding: .7rem 1.6rem;
  margin: auto;
  font-size: large;
}
